[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pygeostat = "*"

[packages]
numpy = "*"
matplotlib = "*"
rpy2 ="*" 
jupyter-client = "*"
pandas = "*"
scooby = "*"
geopandas = "*"
rasterio = "*"
ipyleaflet = "*"
branca = "*"
contextily = "*"
mapclassify = "*"
ipywidgets = "*"
jupyterlab = "*"
folium = "*"
jupyter = "*"
lab = "*"

[requires]
python_version = "3.12"
